.bienvenida{
    padding: 40px;
    text-align: center;
    color: #2F2E2E;
    height: auto;
    width: 750px;
    margin: auto;
}



.parrafo{
    color: #EFEFEF;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;

    display: flex;

    justify-content: center;
    align-items: center;
}
.prom{
    height: 14rem;
    width: auto;
    justify-content: center;
    align-items: center;
    background-color: #2F2E2E;
    display: flex;
}

.logo2 img{
    height: 100px;
    margin-top: 3rem;
    margin-bottom: -3rem;

}

.logo2{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:700px){
.bienvenida{
    width: 300px;
    margin: auto;
}

.logo2 img{
    height: 75px;
}
 
.parrafo{
    margin: 30px;
}
}
